<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2022 Concentrix. All rights reserved.
 *
 * @package  Concentrix_CodeChallenge
 * @author   Concentrix <info@concentrix.com>
 * @license  See LICENSE.txt for license details.
 * @link     https://www.concentrix.com/
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Concentrix_CodeChallenge">
        <sequence>
            <module name="Magento_Customer"/>
            <module name="Magento_Webapi"/>
        </sequence>
    </module>
</config>
